#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vid {
  width: 70%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
.videoContainer {
  flex: 0 0 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
  /* margin-top: 30px; */
}
.page {
  display: flex;
  height: 100vh;
  width: 100%;
}
.rightContent {
  flex: 1;
  display: flex;
  flex-direction:column;
  /* width: 70%; */
  
}

.tts {
  background-color: #E9DDED;
  padding: 10px;
  border-radius: 12px;
}